<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/850b77dab2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="/css/profileC.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <title>hopeBD</title>
</head>

<body>
    <nav class="nav-bar-main">
        <div class="ecommerce-logo">hopeBD</div>
        <div class="option-bar">
            {{#if user}}
            <div class="button-navbar">
                <a class="nav-link-a" href="/profile">Profile</a>
            </div>
            <div class="button-navbar sign-in-btn">
                <a class="nav-link-a" href="/auth/logout">Logout</a>
            </div>
            {{/if}}

        </div>
    </nav>
    <div class="container">
        <div class="container-inside">
            <div class="sidebar">
                <div class="sidebar-upper">

                    <div class="sidebar-image">
                        {{#if user.profile_photo}}
                        <img src=" /collectorimg/{{user.profile_photo}}" class="profile-pic" alt="avatar">
                        {{else}}
                        <img src=" /img/org.png" class="profile-pic" alt="avatar">
                        {{/if}}
                    </div>
                    <div class="name-slogan">
                        <h5 class="">{{user.name}}</h5>
                        <p class="">{{user.slogan}} This is us, we are for human</p>
                    </div>

                    <form action=" /utils/updateProfilePhoto" method="POST" enctype="multipart/form-data">
                        <div class="profile-pic-form-container">

                            <div class="profile-photo-update">
                                <label for="" class="photo-label"><i class="fas fa-edit"></i></label>
                                <div class="photouploadfield input-hidden">

                                    <input class="photo-input" type="file" name="profilePhoto" id="profilePhoto"
                                        accept="image/*" class="" required>


                                    <input type="hidden" name="collectorId" value="{{user.id}}">
                                    <button type="submit" class="profile-photo-update-btn">Update</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="add-new-sector-container">

                    <form action="/utils/newSector" method="POST" enctype="multipart/form-data" class="">
                        <input type="hidden" name="collectorId" value="{{user.id}}">
                        <button type="submit">ADD NEW SECTOR</button>
                    </form>

                </div>
            </div>


            <div class="rightbar">
                <div class="rightbar-grid">
                    {{#each sectors}}
                    <div class="first hero">
                        <img src="/sectorimg/{{this.photo}}" class="hero-profile-img" alt="Sector Image">
                        <div class="">
                            <div class="sector-container">
                                <h5 class="sector-name">
                                    {{this.sector_name}}
                                </h5>
                                {{#if this.is_verified}}
                                {{!-- <div class="verified-btn">
                                    <p class="varified-p">Verified</p>
                                </div> --}}
                                <div class="verified-btn">
                                    <i class="fas fa-check-circle"></i>
                                </div>

                                {{/if}}
                            </div>
                            <div class="hero-description-bk"></div>
                            <div class="hero-logo">
                                {{!-- <img src="/img/org.png" alt="" /> --}}
                                <img src="/collectorimg/{{../user.profile_photo}}" alt="">
                            </div>
                            <div class="hero-description">

                                <p class="hero-description-p">{{this.slogan}}</p>
                            </div>
                        </div>

                        <div class="raised-announce">
                            {{this.total_collection}} Raised
                        </div>
                        <div class="hero-btn">
                            <a href="#" class="details-btn" data-sector-id="{{this.id}}"
                                data-collector-id="{{../user.id}}">DETAILS</a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <script>
        // Get all the "Details" buttons
        const detailsButtons = document.querySelectorAll('.details-btn');

        // Add a click event listener to each "Details" button
        detailsButtons.forEach(button => {
            button.addEventListener('click', function (event) {
                event.preventDefault();

                // Get the sector ID and collector ID from the data attributes
                const sectorId = this.getAttribute('data-sector-id');
                const collectorId = this.getAttribute('data-collector-id');

                // Build the URL with query parameters
                const url = `/utils/sectorDetails?sectorId=${sectorId}&collectorId=${collectorId}`;

                // Redirect to the backend URL with the query parameters
                window.location.href = url;
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            const profilephoto = document.querySelector('.photo-label');
            const photouploadField = document.querySelector('.photouploadfield');

            profilephoto.addEventListener('click', function (event) {
                photouploadField.classList.toggle('input-hidden');
            });
        });

    </script>
    {{!--
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script> --}}
</body>

</html>