<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!--
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    --}}
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/sectorDetails.css">
    <title>hopeBD</title>
</head>

<body>
    <nav class="nav-bar-main">

        <div class="ecommerce-logo" href="#">hopeBD</div>

        <div class="option-bar" id="navbarSupportedContent">
            <div class="option-bar">
                <div class="button-navbar">
                    <a class="nav-link-a" aria-current="page" href="/">Home</a>
                </div>
                {{#if user_name}}
                <div class="button-navbar sign-in-btn">
                    <a class="nav-link-a" href="/auth/logout">Logout</a>
                </div>
                {{else}}
                <div class="button-navbar sign-in-btn">
                    <a class="nav-link-a" href="/login">Login</a>
                </div>
                {{/if}}
            </div>
        </div>

    </nav>


    <div class="mainContainer">


        <div class="tableLeft">

            <img class="sectorPhoto" src="/sectorimg/{{sector.sector_photo}}" alt="sector_image">
            <img class="collectorProfilePhoto" src="/collectorimg/{{sector.profile_photo}}" alt="collector_profile">

            {{!-- <img src="/collectorimg/{{sector.validation_photo}}" alt="validation_photo"> --}}

        </div>
        <div class="tableRight">

            <div class="info-container">

                <div class="details-info"><span class="info-title">Collector Name: </span>{{sector.collector_name}}
                </div>
            </div>
            <div class="info-container">

                <div class="details-info"><span class="info-title">Sector ID: </span>{{sector.sector_id}}</div>
            </div>
            <div class="info-container">

                <div class="details-info"><span class="info-title">Sector Name: </span>{{sector.sector_name}}</div>
            </div>
            <div class="info-container">

                <div class="details-info"><span class="info-title">Created at: </span>{{sector.creation_date}}</div>
            </div>
            <div class="info-container">

                <div class="details-info"><span class="info-title">Contact: </span>{{sector.phone}}</div>
            </div>
            <div class="info-container">

                <div class="details-info"><span class="info-title">Address: </span>{{sector.district}}</div>
            </div>
            <div class="info-container">

                <div class="details-info">
                    <span class="info-title">Details: </span>
                    {{sector.slogan}}</p>
                </div>
            </div>
            <button class="showValidationImage">

                Documents
            </button>
        </div>
    </div>


    {{!-- NID PHOTO ADD --}}
    <div class="validation-pic hide-now">
        {{#each validationPhotos}}
        <img src="/validationimg/{{this.photo_path}}" alt="Validation Photo">
        {{/each}}
        {{!-- <img src="/sector1.jpg" alt="validation_photo"> --}}
    </div>
    <div class="underButtons">

        <form action="/admin/acceptSector" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="sectorId" value="{{sector.sector_id}}">
            <input type="hidden" name="collectorId" value="{{sector.collector_id}}">
            <button type="submit" class="Accepted-button">Accept</button>
        </form>
        <form action="/admin/deleteSector" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="sectorId" value="{{sector.sector_id}}">
            <input type="hidden" name="collectorId" value="{{sector.collector_id}}">
            <button type="submit" class="delete-button">Delete</button>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const showValidationImage = document.querySelector('.showValidationImage');
            const validationPic = document.querySelector('.validation-pic');
            showValidationImage.addEventListener('click', function (event) {
                validationPic.classList.toggle('hide-now');
            });
        });
    </script>
</body>


</html>